.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
instance/
instance/*.db
*.db
*.sqlite3
.env
.env.*
*.log
dist/
build/
coverage/
htmlcov/
.pytest_cache/
pip-wheel-metadata/
.mypy_cache/
/.vscode/
env/
ENV/
venv.bak/
node_modules/